* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-image: url(../assets/images/patronAmarillo.png);
}

.backgroundWhite{
  background-image: url(../assets/images/patronBlanco.png);
}

h2 {
  margin-top: 15px;
  font-weight: 700;
  text-shadow: 2px 2px 1px #D4AF37;
  text-align: center;
  margin: 2%;
}

label {
  text-shadow: 1px 1px 1px #D4AF37;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 1%;
}

@media screen and (max-width: 320px) {
  body {
    font-size: 12px;
  }
  .contact, textarea, input {
    font-size: 12px;
  }
  header {
    height: 15vh;
  }
  header h1 {
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  h2 {
    margin-top: 15px;
    font-weight: 700;
    text-shadow: 2px 2px 1px #D4AF37;
    text-align: center;
    font-size: 16px;
  }
}
@media screen and (min-width: 321px) and (max-width: 338px) {
  body {
    font-size: 13px;
  }
  textarea {
    height: 350px !important;
  }
  header {
    height: 15vh;
  }
  header h1 {
    font-size: 13px;
  }
  header h2 {
    margin-top: 15px;
    font-weight: 700;
    text-shadow: 2px 2px 1px #D4AF37;
    text-align: center;
    font-size: 16px;
  }
}
@media screen and (min-width: 339px) and (max-width: 420px) {
  body {
    font-size: 13px;
  }
  textarea {
    height: 350px !important;
  }
  header {
    height: 15vh;
  }
  header h1 {
    font-size: 14px;
  }
  header h2 {
    margin-top: 15px;
    font-weight: 700;
    text-shadow: 2px 2px 1px #D4AF37;
    text-align: center;
    font-size: 16px;
  }
}
@media screen and (min-width: 421px) and (max-width: 495px) {
  body {
    font-size: 13px;
  }
  header {
    height: 15vh;
  }
  header h1 {
    font-size: 17px;
  }
  header h2 {
    margin-top: 15px;
    font-weight: 700;
    text-shadow: 2px 2px 1px #D4AF37;
    text-align: center;
    font-size: 16px;
  }
}
@media screen and (min-width: 494px) and (max-width: 575px) {
  body {
    font-size: 14px;
  }
  header {
    height: 15vh;
  }
  header h1 {
    font-size: 18px;
  }
  header h2 {
    margin-top: 15px;
    font-weight: 700;
    text-shadow: 2px 2px 1px #D4AF37;
    text-align: center;
    font-size: 16px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  header h1 {
    font-size: 22px;
  }
  header h2 {
    margin-top: 15px;
    font-weight: 700;
    text-shadow: 2px 2px 1px #D4AF37;
    text-align: center;
    font-size: 16px;
  }
}
@media screen and (min-width: 769px) and (max-width: 993px) {
  body {
    font-size: 16px;
  }
  header h1 {
    font-size: 30px;
  }
  header h2 {
    margin-top: 15px;
    font-weight: 700;
    text-shadow: 2px 2px 1px #D4AF37;
    text-align: center;
    font-size: 16px;
  }
}
@media screen and (min-width: 994px) {
  body {
    font-size: 16px;
  }
  label {
    font-size: 25px;
  }
  .contact, textarea, input {
    font-size: 25px;
  }
  header h1 {
    font-size: 34px;
  }
  header h2 {
    margin-top: 15px;
    font-weight: 700;
    text-shadow: 2px 2px 1px #D4AF37;
    text-align: center;
    font-size: 16px;
  }
}
header {
  grid-area: header;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 1;
  grid-template-areas: "logo" "slogan" "logo";
  justify-items: center;
  align-items: center;
  background-color: black;
  border: 2px solid #D4AF37;
}
header a {
  display: flex;
  justify-content: center;
}
header a .logo {
  width: 40%;
}
header h1 {
  color: #D4AF37;
  display: grid;
  place-items: center;
  font-weight: bold;
}

.nav-pills {
  background-color: #D4AF37;
}
.nav-pills .nav-link {
  color: black;
  border: 1px solid black;
}
.nav-pills .nav-link.active {
  background-color: black;
}

.contact, textarea, input {
  margin: 0px auto;
  margin-bottom: 1%;
  padding: 10px;
  width: 75%;
}

input {
  margin: 2%;
  background-color: rgb(237, 242, 243);
}

textarea {
  margin: 2%;
  background-color: rgb(237, 242, 243);
}

.send {
  text-transform: uppercase;
  margin: 2%;
  background-color: #D4AF37;
  letter-spacing: 2px;
}
.send:hover {
  background-color: #050505;
  color: white;
}

#desayunosHome {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  margin: 2%;
}

.card {
  justify-content: space-evenly;
  margin: 2%;
  border-left: 4px inset #D4AF37;
  border-bottom: 4px inset #D4AF37;
  border-right: 4px inset #D4AF37;
}

.pedido {
  text-align: center;
}

.pedido p {
  font-weight: bold;
  color: black;
  font-size: 20px;
  margin-top: 4%;
}

.animacion {
  animation: flicker 1s infinite;
}

@keyframes flicker {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
section {
  grid-area: descripcion;
  text-align: center;
}
section video {
  width: 80%;
  margin: 2%;
  border: 4px inset #D4AF37;
}
section p {
  width: 80%;
  font-weight: 700;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

#landingSomos {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 30%, 45% 10%;
  grid-template-areas: "header" "nav" "quienesSomos" "footer";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

#quienesSomos {
  grid-area: quienesSomos;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#quienesSomos #descripcion {
  border: 4px inset #D4AF37;
}

footer {
  grid-area: footer;
}

/*estilo para quienes somos*/
#landingSomos {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "header" "nav" "h2" "contenido" "footer";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

h2 {
  grid-area: h2;
}

#contenidoSomos {
  grid-area: contenido;
  display: flex;
  flex-direction: column;
}
#contenidoSomos aside video {
  border: 4px inset #D4AF37;
  width: 80%;
}
#contenidoSomos article #descripcion {
  border: 4px inset #D4AF37;
  margin-top: 1%;
  margin-bottom: 4%;
  background-color: rgba(255, 255, 255, 0.678);
}

footer {
  grid-area: footer;
}

@media (min-width: 626px) and (max-width: 649px) {
  #landingSomos {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "header" "nav" "h2" "contenido" "footer";
  }
  #contenidoSomos {
    grid-area: contenido;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #contenidoSomos aside video {
    border: 4px inset #D4AF37;
    width: 80%;
  }
  #contenidoSomos article #descripcion {
    border: 4px inset #D4AF37;
    margin-top: 1%;
    margin-bottom: 4%;
    background-color: rgba(255, 255, 255, 0.678);
  }
}
@media (min-width: 650px) and (max-width: 768px) {
  #landingSomos {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "header" "nav" "h2" "contenido" "footer";
  }
  #contenidoSomos {
    grid-area: contenido;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #contenidoSomos aside video {
    border: 4px inset #D4AF37;
    width: 80%;
  }
  #contenidoSomos article #descripcion {
    border: 4px inset #D4AF37;
    margin-top: 1%;
    margin-bottom: 4%;
    background-color: rgba(255, 255, 255, 0.678);
  }
}
@media (min-width: 769px) and (max-width: 993px) {
  #landingSomos {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "header" "nav" "h2" "contenido" "footer";
  }
  #contenidoSomos {
    grid-area: contenido;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #contenidoSomos aside video {
    border: 4px inset #D4AF37;
    width: 80%;
  }
  #contenidoSomos article #descripcion {
    border: 4px inset #D4AF37;
    margin-top: 1%;
    margin-bottom: 4%;
    background-color: rgba(255, 255, 255, 0.678);
  }
}
@media (min-width: 994px) and (max-width: 1199px) {
  #landingSomos {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "header" "nav" "h2" "contenido" "footer";
  }
  #contenidoSomos {
    grid-area: contenido;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #contenidoSomos aside video {
    border: 4px inset #D4AF37;
    width: 80%;
  }
  #contenidoSomos article #descripcion {
    border: 4px inset #D4AF37;
    margin-top: 1%;
    margin-bottom: 4%;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.678);
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  h2 {
    font-size: 30px;
  }
  header h1 {
    font-size: 40px;
  }
  h5.card-title {
    font-size: 22px;
  }
  p.card-text {
    font-size: 18px;
  }
  li.list-group-item {
    font-size: 22px;
  }
  #landingSomos {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto 8%;
    grid-template-areas: "header" "nav" "h2" "contenido" "footer";
  }
  #contenidoSomos {
    grid-area: contenido;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #contenidoSomos aside video {
    border: 4px inset #D4AF37;
    width: 80%;
    margin-bottom: 10%;
  }
  #contenidoSomos article #descripcion {
    border: 4px inset #D4AF37;
    margin-top: 1%;
    margin-bottom: 4%;
    height: 500px;
    font-size: 23px;
    background-color: rgba(255, 255, 255, 0.678);
  }
  body {
    font-size: 20px;
  }
  .animacion {
    font-size: 35px !important;
  }
}
@media (min-width: 1500px) and (max-width: 1799px) {
  h2 {
    font-size: 45px;
  }
  header h1 {
    font-size: 60px;
  }
  h5.card-title {
    font-size: 25px;
  }
  p.card-text {
    font-size: 18px;
  }
  li.list-group-item {
    font-size: 22px;
  }
  #landingSomos {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto 8%;
    grid-template-areas: "header" "nav" "h2" "contenido" "footer";
  }
  #contenidoSomos {
    grid-area: contenido;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #contenidoSomos aside video {
    border: 4px inset #D4AF37;
    width: 80%;
    margin-bottom: 10%;
  }
  #contenidoSomos article #descripcion {
    border: 4px inset #D4AF37;
    margin-top: 1%;
    margin-bottom: 4%;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.678);
  }
  body {
    font-size: 25px;
    background-image: url(../assets/images/patronAmarillo.png)
  }
}
@media (min-width: 1800px) and (max-width: 2000px) {
  h2 {
    font-size: 40px;
  }
  header h1 {
    font-size: 60px;
  }
  h5.card-title {
    font-size: 25px;
  }
  p.card-text {
    font-size: 20px;
  }
  li.list-group-item {
    font-size: 25px;
  }
  #landingSomos {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto 8%;
    grid-template-areas: "header" "nav" "h2" "contenido" "footer";
  }
  #contenidoSomos {
    grid-area: contenido;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #contenidoSomos aside video {
    border: 4px inset #D4AF37;
    width: 80%;
    margin-bottom: 10%;
  }
  #contenidoSomos article #descripcion {
    border: 4px inset #D4AF37;
    margin-top: 1%;
    margin-bottom: 4%;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.678);
  }
  body {
    font-size: 30px;
    background-image: url(../assets/images/patronAmarillo.png)
  }

  .backgroundWhite{
    background-image: url(../assets/images/patronBlanco.png);
  }

  .animacion {
    font-size: 40px !important;
  }
}
@media (min-width: 2001px) {
  h2 {
    font-size: 40px;
  }
  header h1 {
    font-size: 60px;
  }
  #landingSomos {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto 8%;
    grid-template-areas: "header" "nav" "h2" "contenido" "footer";
  }
  #contenidoSomos {
    grid-area: contenido;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #contenidoSomos aside video {
    border: 4px inset #D4AF37;
    width: 80%;
    margin-bottom: 10%;
  }
  #contenidoSomos article #descripcion {
    border: 4px inset #D4AF37;
    margin-top: 1%;
    margin-bottom: 4%;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.678);
  }
  body {
    font-size: 30px;
    background-image: url(../assets/images/patronAmarillo.png)
  }
  .backgroundWhite{
    background-image: url(../assets/images/patronBlanco.png);
  }
}
footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1;
  text-align: center;
  background-color: black;
  color: #D4AF37;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
