footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1;
    text-align: center;
    background-color: black;
    color: #D4AF37;
    align-items: center;
    
}
