$primary: #D4AF37;
$secondary: black;
$breakpoint-small: 320px;
$breakpoint-medium: 420px;
$breakpoint-ipad: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large: 1200px;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
     @include titulolanding;
     margin: 2%;
 }

label{
    text-shadow: 1px 1px 1px #D4AF37;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 1%;
}

@media screen and (max-width: $breakpoint-small) {
    body {
        font-size: 12px;
        
    }

    .contact{
        font-size: 12px;
    }
    
    header{
        height: 15vh;

        h1{
            display: flex;
            font-size: 13px;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

    }

    h2{
        @include titulolanding;
        font-size: 16px;
    
    }

    

} 

@media screen and (min-width: 321px) and (max-width: 338px) {
    body{
        font-size: 13px;
        
    }

    textarea{
        height: 350px !important;
    }
    
    header{
        height: 15vh;

        h1{
            font-size: 13px;
            

    }

    h2{
        @include titulolanding;
        font-size: 16px;
    
    }
  }

  
}

@media screen and (min-width: 339px) and (max-width: $breakpoint-medium) {
    body{
        font-size: 13px;
        
    }

    textarea{
        height: 350px !important;
    }
    
    header{
        height: 15vh;

        h1{
            font-size: 14px;
            

    }

    h2{
        @include titulolanding;
        font-size: 16px;
    
    }
  }
}

@media screen and (min-width: 421px) and (max-width: 495px) {
    body{
        font-size: 13px;
        
    }
    
    header{
        height: 15vh;

        h1{
            font-size: 17px;
            

    }

    h2{
        @include titulolanding;
        font-size: 16px;
    
    }
  }
}

@media screen and (min-width: 494px) and (max-width: 575px) {
    body{
        font-size: 14px;
        
    }
    
    header{
        height: 15vh;

        h1{
            font-size: 18px;
            

    }

    h2{
        @include titulolanding;
        font-size: 16px;
    
    }
  }
}

@media screen and (min-width: 576px) and (max-width: $breakpoint-ipad) {
    body{
         font-size: 14px;
        
    }
    
    header{
        

        h1{
            font-size: 22px;
            

    }

    h2{
        @include titulolanding;
        font-size: 16px;
    
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 993px){
    body{
        font-size: 16px;
       
   }
   
   header{
    

       h1{
           font-size: 30px;
           

   }

   h2{
       @include titulolanding;
       font-size: 16px;
   
   }
 }
}

@media screen and (min-width: 994px) {
    body{
        font-size: 16px;
       
   }

   label{
    font-size: 25px ;
   }

   .contact{
    font-size: 25px;
   }
   
   header{
   

       h1{
           font-size: 34px;
        }

   h2{
       @include titulolanding;
       font-size: 16px;
   
   }

 }


}



